.header {
  background: rgb(91, 26, 204);
  padding: 0;
  border-bottom: 1px solid #080808;
  border-radius: 0.3rem;
}

.header a {
  color: #e1d8d8;
}

.header a:hover {
  background: #12084e;
  color: rgba(255, 255, 255, 0.781);
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: xx-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  inline-size: 150px;
  overflow-wrap: break-word;
  font-weight: bold;
  padding: 1rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1rem;
  border-left: 1px solid #e72929;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1001;
  background-color: whitesmoke;
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  color: rgb(12, 12, 12);
  min-width: 8rem;
}

.cart_count {
  background-color: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}
